.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 0.2rem !important;
    height: 2rem !important;
    border: 2px solid red
}

.fontsss{
    font-family: 'Inter', sans-serif !important;
}
